*{
margin:0;
padding:0;
}

body{background-color:#696969;
margin: 48px 0 0 0;
}

header{
background-color:#ffa500;
position: fixed;
left:0;
top:0;
width:100%;
z-index: +1;
}

#main{
width: calc(100% - 200px);
min-width:500px;
float:left;
}

#picture{
width: 24px;
position: absolute;
left: 50px;
top: 50px;
}

aside{background-color:#191970;
width:200;
float:right;
position: relative;
top: 20px;
right: 10px;
}

footer{background-color:#ff4500;
clear:both;}

h1 span{font-size:2.0em;
font-weight: bold;}

.box{
  background-color:#00ff00;
  color:#00ffff;
  width:240px;
  height:80px;
  margin: 5px;
  float: left;
  overflow: auto;
}

#gnav ul{
    overflow: hidden;
    background-color:#ffa500;
}

#gnav li{
    float:left;
    width:156px;
    border-right:#F0F8FF 1px solid;
    list-style-type:none;
}

#textshadow{
padding: 0 40px;
font-size: 30px;
}

.drop_shadow{
text-shadow: 2px 2px 3px #708090;
}

#boxshadow{
 font-size: 30px;
}

.inset_shadow{
 box-shadow: 2px 2px 5px #A9A9A9 inset; padding: 5px; margin: 20px;
}

